#URL mapping for REST API Demo
#Note: "NC" means case insensitive
RewriteEngine on

RewriteRule ^menuService/items$ api/menuItemService.php [NC]
RewriteRule ^menuService/items/([0-9]{3})$ api/menuItemService.php?itemid=$1 [NC]
RewriteRule ^menuService/categories$ api/menuCategoryService.php [NC]
RewriteRule ^menuService/categories/(\w{3})$ api/menuCategoryService.php?categoryid=$1 [NC]

ReWriteRule ^team/([0-9]+)$ api.php?action=team&id=$1 [NC]
ReWriteRule ^player/([0-9]+)$ api.php?action=player&id=$1 [NC]
ReWriteRule ^game/([0-9]+)$ api.php?action=game&id=$1 [NC]
ReWriteRule ^match/([0-9]+)$ api.php?action=match&id=$1 [NC]

ReWriteRule ^team api.php?action=team [NC]
ReWriteRule ^player api.php?action=player [NC]
ReWriteRule ^game api.php?action=game [NC]
ReWriteRule ^match api.php?action=match [NC]




#ReWriteRule ^temp test.php [NC]